workflows/Error Handler - Creative Control.json
{
  "name": "Error Handler - Creative Control",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -1392,
        -384
      ],
      "id": "2892dd1c-936f-4fbd-b3ed-b19624a8c2ba",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "chatId": "962790782",
        "text": "=❌ <b>ОШИБКА В АВТОМАТИЗАЦИИ КРЕАТИВОВ</b> ❌\n\n<b>Workflow:</b> <code>{{ $json.workflow.name }}</code>\n<b>Ошибка:</b> <i>{{ $json.execution.error.description }}</i>\n<b>Нода:</b> <i>{{ $json.execution.lastNodeExecuted }}</i>\n<b>Дата/время:</b> <code>{{ new Date().toLocaleString('ru-RU') }}</code>\n\n🔧 Проверьте логи n8n и исправьте проблему.",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1056,
        -448
      ],
      "id": "89d441ab-3797-4a9d-85b2-81d513f10e03",
      "name": "Уведомление admin",
      "webhookId": "5b8eb7cc-2273-471b-b009-cf7acc1d5059",
      "credentials": {
        "telegramApi": {
          "id": "eJTaK5yLetSQvfjt",
          "name": "@AlbatoCourse_bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1MTb76wlEAjecsQd-CWUbEVP4g41fOOYISWpV9-vkE3U",
          "mode": "list",
          "cachedResultName": "Final Project - n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MTb76wlEAjecsQd-CWUbEVP4g41fOOYISWpV9-vkE3U/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1320077662,
          "mode": "list",
          "cachedResultName": "Ошибки",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MTb76wlEAjecsQd-CWUbEVP4g41fOOYISWpV9-vkE3U/edit#gid=1320077662"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Workflow": "={{ $json.workflow.name }}",
            "Links": "={{ $json.execution.url }}",
            "Date": "={{ $now.format('dd.MM.yyyy HH:mm:ss') }}",
            "Error": "={{ $json.execution.error.description }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Links",
              "displayName": "Links",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Workflow",
              "displayName": "Workflow",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Error",
              "displayName": "Error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1056,
        -240
      ],
      "id": "516a8e74-3c4d-465e-b4b3-e30136950887",
      "name": "Таблица ошибок",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "N43x9rw94YIs3Kho",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Уведомление admin",
            "type": "main",
            "index": 0
          },
          {
            "node": "Таблица ошибок",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Europe/Moscow",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "t20QlqpnYzryerzK"
  },
  "versionId": "32cebf66-946e-4c30-8dfd-6c8e6624f261",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b1c39cac49967f05d97658bd0278181ab2e8319adebe55046fb060ea4b208b08"
  },
  "id": "t20QlqpnYzryerzK",
  "tags": []
}