workflows/Final Project - Creative Control.json
{
  "name": "Final Project - Creative Control",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 21,
              "triggerAtMinute": 38
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1152,
        0
      ],
      "id": "cda51da5-c005-45e5-8b53-7e37929f562b",
      "name": "11:00 Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1MTb76wlEAjecsQd-CWUbEVP4g41fOOYISWpV9-vkE3U",
          "mode": "list",
          "cachedResultName": "Final Project - n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MTb76wlEAjecsQd-CWUbEVP4g41fOOYISWpV9-vkE3U/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "creatives_monitor",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MTb76wlEAjecsQd-CWUbEVP4g41fOOYISWpV9-vkE3U/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -944,
        0
      ],
      "id": "c56c4731-c189-4b3e-ba21-1cc88d3d6877",
      "name": "Чтение данных",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "N43x9rw94YIs3Kho",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1MTb76wlEAjecsQd-CWUbEVP4g41fOOYISWpV9-vkE3U",
          "mode": "list",
          "cachedResultName": "Final Project - n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MTb76wlEAjecsQd-CWUbEVP4g41fOOYISWpV9-vkE3U/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Creatives_monitor",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MTb76wlEAjecsQd-CWUbEVP4g41fOOYISWpV9-vkE3U/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "log": "=\t{{ \"Отключено автоматически \" + new Date().toLocaleString('ru-RU', { day: '2-digit', month: '2-digit', year: 'numeric', hour: '2-digit', minute: '2-digit', second: '2-digit', hour12: false }).replace(',', '') }}",
            "Active": "false"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "End_date",
              "displayName": "End_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Active",
              "displayName": "Active",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "log",
              "displayName": "log",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -464,
        -128
      ],
      "id": "581e94e8-1155-4937-b89c-2ad4085236a0",
      "name": "Деактивация и логирование",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "N43x9rw94YIs3Kho",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "23211ee4-34f0-41db-807e-37e9a7f49d2e",
              "leftValue": "={{ DateTime.fromFormat($json.End_date, \"dd.MM.yyyy\") }}",
              "rightValue": "={{ $now.startOf('day') }}",
              "operator": {
                "type": "dateTime",
                "operation": "before"
              }
            },
            {
              "id": "8910190d-296f-4aec-a588-e7a7afabbbe2",
              "leftValue": "={{ $json.Active === true || $json.Active === \"TRUE\" }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -672,
        -112
      ],
      "id": "37c9ecda-8cde-4dc3-b2a2-2cd68e09a6b8",
      "name": "Проверка"
    },
    {
      "parameters": {
        "chatId": "962790782",
        "text": "=🚫 <b>АВТОМАТИЧЕСКОЕ ОТКЛЮЧЕНИЕ КРЕАТИВА</b> 🚫\n\n┌───────────────────────────┐\n│ 📌 <b>Название:</b> <i>{{ $('Проверка').item.json.Title }}</i>\n│ 🔢 <b>ID:</b> <code>{{ $('Деактивация и логирование').item.json.id }}</code>\n│ ⏳ <b>Срок до:</b> <code>{{ $('Проверка').item.json.End_date }}</code>\n│ 🔕 <b>Отключён:</b> <code>{{ new Date().toLocaleString('ru-RU') }}</code>\n└───────────────────────────┘\n\n💡 <i>Пожалуйста, создайте новый креатив или продлите акцию.</i>",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -112,
        -128
      ],
      "id": "bb3ba3f1-a99e-4ba3-8dcc-ed563991e13c",
      "name": "Уведомление маркетологу",
      "webhookId": "5b8eb7cc-2273-471b-b009-cf7acc1d5059",
      "credentials": {
        "telegramApi": {
          "id": "eJTaK5yLetSQvfjt",
          "name": "@AlbatoCourse_bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "aeaf66e7-8b6d-40ba-9737-d506956f283c",
              "leftValue": "={{ \n  DateTime.fromFormat($json.End_date, \"dd.MM.yyyy\").diff($now.startOf('day'), 'days').days <= 3 \n  && \n  DateTime.fromFormat($json.End_date, \"dd.MM.yyyy\").diff($now.startOf('day'), 'days').days > 0 \n  && \n  $json.Active === true \n}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -672,
        192
      ],
      "id": "2b02c0e0-0b30-45c3-ab7e-8fcb31ff97e6",
      "name": "Предупреждение о льготном периоде"
    },
    {
      "parameters": {
        "chatId": "962790782",
        "text": "=⚠️ <b>КРЕАТИВ СКОРО ИСТЕЧЁТ</b> ⚠️\n\n📛 <b>Название:</b> <i>{{ $json.Title }}</i>\n🆔 <b>ID:</b> <code>{{ $json.id }}</code>\n⏳ <b>Срок до:</b> <code>{{ $json.End_date }}</code>\n📆 <b>Осталось дней:</b> <code>{{ ((new Date($json.End_date.split('.').reverse().join('-')).getTime() - new Date().setHours(0,0,0,0)) / (1000 * 60 * 60 * 24)) }}</code>\n\n🔔 Пожалуйста, продлите акцию или подготовьте новый креатив.",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -432,
        176
      ],
      "id": "c94391ae-9ef9-4172-8ce1-9b32c86c69f4",
      "name": "Уведомление маркетологу  за 3 дня",
      "webhookId": "5b8eb7cc-2273-471b-b009-cf7acc1d5059",
      "credentials": {
        "telegramApi": {
          "id": "eJTaK5yLetSQvfjt",
          "name": "@AlbatoCourse_bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1MTb76wlEAjecsQd-CWUbEVP4g41fOOYISWpV9-vkE3U",
          "mode": "list",
          "cachedResultName": "Final Project - n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MTb76wlEAjecsQd-CWUbEVP4g41fOOYISWpV9-vkE3U/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 625242154,
          "mode": "list",
          "cachedResultName": "Audit Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MTb76wlEAjecsQd-CWUbEVP4g41fOOYISWpV9-vkE3U/edit#gid=625242154"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $now.format('dd.MM.yyyy HH:mm:ss') }}",
            "Creative_id": "={{ $('Предупреждение о льготном периоде').item.json.id }}",
            "Title ": "={{ $('Предупреждение о льготном периоде').item.json.Title }}",
            "End_date": "={{ $('Предупреждение о льготном периоде').item.json.End_date }}",
            "Action": "warning",
            "Details": "={{  (function() {    try {      const days = Math.round(        DateTime.fromFormat($('Предупреждение о льготном периоде').item.json.End_date, \"dd.MM.yyyy\")          .diff($now.startOf('day'), 'days').days      );      return \"Осталось \" + days + \" дн. Предупреждение отправлено.\";    } catch(e) {      return \"Осталось ? дн. Предупреждение отправлено.\";    }  })()}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Creative_id",
              "displayName": "Creative_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Title ",
              "displayName": "Title ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "End_date",
              "displayName": "End_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Action",
              "displayName": "Action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Details",
              "displayName": "Details",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -256,
        176
      ],
      "id": "afb99aef-1ee6-46df-acbc-905c3b234942",
      "name": "Аудит: предупреждения",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "N43x9rw94YIs3Kho",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1MTb76wlEAjecsQd-CWUbEVP4g41fOOYISWpV9-vkE3U",
          "mode": "list",
          "cachedResultName": "Final Project - n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MTb76wlEAjecsQd-CWUbEVP4g41fOOYISWpV9-vkE3U/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 625242154,
          "mode": "list",
          "cachedResultName": "Audit Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MTb76wlEAjecsQd-CWUbEVP4g41fOOYISWpV9-vkE3U/edit#gid=625242154"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $now.format('dd.MM.yyyy HH:mm:ss') }}",
            "Creative_id": "={{ $json.id }}",
            "Title ": "={{ $('Проверка').item.json.Title }}",
            "End_date": "={{ $('Проверка').item.json.End_date }}",
            "Action": "deactivated",
            "Details": "={{ \"Автоматическое отключение по истечении срока\" }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Creative_id",
              "displayName": "Creative_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Title ",
              "displayName": "Title ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "End_date",
              "displayName": "End_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Action",
              "displayName": "Action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Details",
              "displayName": "Details",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -288,
        -128
      ],
      "id": "be60bae5-a95a-4d3f-93e8-4640aff5adab",
      "name": "Таблица аудита (deactivated)",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "N43x9rw94YIs3Kho",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "11:00 Trigger": {
      "main": [
        [
          {
            "node": "Чтение данных",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Чтение данных": {
      "main": [
        [
          {
            "node": "Предупреждение о льготном периоде",
            "type": "main",
            "index": 0
          },
          {
            "node": "Проверка",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Деактивация и логирование": {
      "main": [
        [
          {
            "node": "Таблица аудита (deactivated)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Проверка": {
      "main": [
        [
          {
            "node": "Деактивация и логирование",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Предупреждение о льготном периоде": {
      "main": [
        [
          {
            "node": "Уведомление маркетологу  за 3 дня",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Уведомление маркетологу": {
      "main": [
        []
      ]
    },
    "Уведомление маркетологу  за 3 дня": {
      "main": [
        [
          {
            "node": "Аудит: предупреждения",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Таблица аудита (deactivated)": {
      "main": [
        [
          {
            "node": "Уведомление маркетологу",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Europe/Moscow",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "t20QlqpnYzryerzK"
  },
  "versionId": "a3982578-a451-459c-a896-c19f9dc88650",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b1c39cac49967f05d97658bd0278181ab2e8319adebe55046fb060ea4b208b08"
  },
  "id": "NnweojRVehVnXm7L",
  "tags": []
}